* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

// Links
a {
  text-decoration: none;
  &:active, &:hover {
    outline: 0;
  }
}

:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
